.main-display {
    font-size: 44px;
    padding-left: 19%;
}

.main-logo {
    padding-top: 13%;
    animation-name: stretch;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    100% {
        transform: scale(0.95);
    }
}

.plan-style {
    line-height: 60%;
}